<br>
<br>
<%
count = @buildings.length
if(count > 0)
    amount_string = "Found #{count} possible match" + ((count>1)? "es:" : ":") 
else
    amount_string = "No results found. Please try a different search."
end
%>
<%= amount_string %>
    <ul>
    <% for building in @buildings %>
        <li><%= building.name %>&nbsp;(<a href="javascript:hideResultsOpenMarker('<%= building.abbrev %>');">view in map</a>,&nbsp;<%= link_to("building details", :controller=>"buildings", :action=>"index", :id=>building.id)%>)</li>
    <% end %>
    </ul>

<a href="#" onclick="hideResultsClearSelected();">Return to map</a>