/* 
      Stylesheet Written By Ryan Hankins
      February 1, 2009
      
      
      COLORS:
      Dark Purp:   #552277
      Light Purp:  #8855aa
      Dark Gold:     #999900
      Light Gray:    #444444
 */

body {
overflow-y: scroll;
background-image: url(../images/bg.gif);
background-repeat: repeat-x;
margin-top: 2px;
margin-bottom: 0px;
}

iframe {
border: 1px solid #bbbbbb;
height: 700px;
}

#container {
width: 950px;
margin: 0 auto;
}

#head {
width: 950px;
float: left;
margin-bottom: 10px;
}

#supertop {
text-align: right;
font: 0.8em "arial";
font-weight: bold;
color: #000000;
width: 950px;
height: 1em;
margin: 0 0 8px 0;
padding: 0 0 0 0;
float: left;
}

#supertop a {
color: #552277;
text-decoration: none;
}

#supertop a:hover {
color: #C5B358;
}

#side {
border: 1px solid #bbbbbb;
float: left;
width: 164px;
margin: 0 8px 0 0;
padding: 0 0 0 0;
}

#side a {
font: 0.7em arial, san-serif;
text-decoration: underline;
color: #663366;
display: block;
}

#side span {
font: 0.7em arial, san-serif;
color: #663366;
}

#side a:hover {
text-decoration: none;
}

#side p {
font: 0.7em arial, san-serif;
font-weight: bold;
color: #000000;
}

#mapmenu {
height: 652px;
width: 100%;
font: 0.6em arial;
color: #552277;
border: 0;
margin: 0;
padding: 0;
}

#side ul {
list-style: none;
margin: 0 0 0 10px;
padding: 0;
border: 0;
}

#side li {
padding: 3px 0 3px 0;
}
/*
		
#side li {
margin: 0;
}
	
#side li a {
margin: 0 0 4px 0;
display: block;
padding: 5px 5px 5px 5px;
color: #552277;
text-decoration: none;
}

#side li a:hover {
color: #C5B358;
}

*/

#wrapper {
float: left;
width: 950px;
margin: 0 0 0 0;
}

#singlewrapper {
float: left;
width: 928px;
margin: 0 0 0 0;
padding: 10px 10px 10px 10px;
border: 1px solid #bbbbbb;
}

#singlewrapper {
font-family: arial, sans-serif;
}

.content {
border: 1px solid #bbbbbb;
margin: 0 0 0 0;
padding: 10px 10px 10px 10px;
width: 754px;
float: left;
}

.content h1 {
color: #C5B358;
font: 1.5em arial, sans-serif;
font-weight: bold;
margin: 0 0 10px 0;
text-align: left;
border-bottom: 1px solid #C5B358;
}

#homepage p {
color: #000000;
font: 1em arial, sans-serif;
margin: 10px 0 10px 0;
text-align: left;
}

#footer {
padding: 5px 0 5px 0;
margin: 10px 0 0 0;
width: 950px;
float: left;
background-color: #552277;
color: #ffffff;
font: 0.7em arial, san-serif;
text-align: right;
}

#footer a {
color: #ffffff;
text-decoration: none;
}

#footer a:hover {
text-decoration: underline;
}

.poweredby {
float: left;
width: 100%;
margin: 1px 0 0 0;
text-align: center;
}

.poweredby img {
border: 0;
}

ul.topbar {
display: block;
width: 950px;
padding: 0;
float: left;
margin: 0px;
}

.topbar li {
height: 30px;
display: inline;
float: left;
border-left: 0px solid #552277;
}

.topbar span.normal {
background-color: #552277;
height: 30px;
float: left;
cursor: pointer;
}

#space {
width: 0px;
background-color: #552277;
}

#space2 {
width: 232px;
background-color: #552277;
}

#space3 {
width: 23px;
background-color: #552277;
}

#gofish {
border-left: none;
}

#gofish span {
padding: 0 0px 0 0px;
width: 30px;
font-weight: bold;
}

#search {
width: 125px;
margin-left: 0px;
background-color: #552277;
border-left: none;
}

#search input {
font: 1em "arial";
border: 0 0 0 0;
margin: 4px 0 0 0;
height: 20px;
width: 120px;
padding: 0;
color: #999999;
}

#home span {
background: transparent url(../images/logo2.gif) no-repeat 0 0;
float: left;
width: 160px;
color: #552277;
}

#home span:hover {
background: url(../images/logo2.gif) no-repeat 0 -30px;
}

.topbar a, span {
text-align: center;
width: 95px;
font: 0.9em arial, helvetica, sans-serif;
line-height: 30px;
font-weight: bold;
text-decoration: none;
color: #ffffff;
}

.topbar li a:hover span {
background-color: #C5B358;
}

.topbar li a:hover em {
color: #C5B358;
}

.topbar li a:active em {
color: #C5B358;
}

#me {
background-color: #C5B358;
}

.submit {
line-height: 30px;
font: 0.9em arial;
margin: 0 0 0 0;
height: 30px;
color: #ffffff;
background-color: #552277;
font-weight: bold;
padding: 3px 0;
border-width: 0;
cursor: pointer;
width: 30px;
}

.submit_hover {
line-height: 30px;
font: 0.9em arial;
margin: 0 0 0 0;
height: 30px;
color: #ffffff;
background-color: #C5B358;
font-weight: bold;
padding: 3px 0;
border-width: 0;
cursor: pointer;
width: 30px;
}
		
.breadcrumbs {
font: 0.8em arial, sans-serif;
color: #000000;
}

.searchmap {
font: 0.8em arial, sans-serif;
color: #000000;
}

.breadcrumbs a {
color: #000000;
text-decoration: none;
}

.breadcrumbs a:hover {
text-decoration: underline;
}


/* WITHIN THE CONTENT DIV OF THE PAGE */

.classcontainer {
float: left;
width: 100%;
margin: 0 0 0 0;
padding: 15px 0 15px 0;
border-bottom: 1px solid #bbbbbb;
}

.sampleclassschedule {
width: 175px;
padding: 0 20px 0 20px;
float: left;
}

.classtime {
width:175px;
float: left;
color: #000000;
font: 0.7em arial, sans-serif;
font-weight: bold;
text-align: right;
}

.titlecredits {
float: left;
width: 529px;
}

.titleprofessor {
float: left;
width: 459px;
}

.title {
width: 459px;
float: left;
font: 1.3em arial, sans-serif;
font-weight: bold;
}

.title a {
text-decoration: underline;
color: #000000;
}

.title a:hover {
text-decoration: none;
color: #C5B358;
}

.professor {
float: left;
font: 1em arial, sans-serif;
font-style: italic;
}

.professor a {
text-decoration: none;
color: #000000;
}

.professor a:hover {
text-decoration: none;
color: #C5B358;
}

.credits {
font: 0.8em arial, sans-serif;
color: #ffffff;
margin: 10px 0 0 0;
background: url('../images/credits.png') #552277;
text-align: center;
width: 60px;
height: 60px;
float: left;
}

.creditsnum {
font: 38px arial, sans-serif;
font-weight: bold;
color: #ffffff;
margin: 0 0 0 0;
height: 38px;
}

.description {
font: 0.8em arial, sans-serif;
color: #000000;
margin: 20px 0 0 0;
text-align: justify;
float: left;
width: 529px;
}

.classfullness {
background: url('../images/seating.png') #552277;
width: 60px;
height: 60px;
margin: 10px 0 0 0;
float: left;
}

.full {
background: url('../images/seating.png') #ad0000;
}

.semifull {
background: url('../images/seating.png') #c5b538;
}

.numerator {
margin: 1px 0 2px 0;
padding: 0 0 0 0;
font: 10px arial, sans-serif;
color: #ffffff;
width: 60px;
height: 28px;
float: left;
text-align: center;
}

.denominator {
font: 10px arial, sans-serif;
color: #ffffff;
width: 60px;
height: 28px;
float: left;
text-align: center;
}

.number {
height: 15px;
font: 16px arial, sans-serif;
font-weight: bold;
margin: 0 0 0 0;
}

.rating {
float: right;
color: #ffffff;
font: 1em arial, sans-serif;
font-style: italic;
padding: 20px 20px 20px 20px;
text-align: right;
}

.rating img {
width: 35px;
}

/* Draggable Class Schedule */

table.dragschedule {
width: 100%;
/*table-layout: fixed;*/
/*empty-cells: show;*/
/*border-collapse: collapse;*/
font: 1em arial, sans-serif;
color: #000000;
border-spacing: 0px;
border:0px;
cellpadding:0px;
cellspacing:0px;
}

.dragschedule td {
text-align: left;
border: 0px solid #bbbbbb;
width:116px;
}

.dragschedule td.normal {
height: 56px;
/*border: 0px solid #bbbbbb;*/
}

.dragschedule td.blank {
border: 0;
}

.dragschedule td.tableheader {
background-color: #552277;
color: #ffffff;
text-align: center;
width:116px;
}

.dragschedule td.class {
background-color: #552277;
}

.dragscheduleHighlighted td.class {
border: 5px dashed #ffffff;
}

.dragschedule div.class {
background-color: #ffffff;
cursor:pointer;
}

.dragschedule span.class {
background-color: #ffffff;
}

.dragschedule p.drag_text {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font: 0.8em arial, sans-serif;
height: 13px;
font-weight: normal;
color: #000000;
}

.dragschedule p.drag_options {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font: 0.6em arial, sans-serif;
font-weight: normal;
color: #000000;
}

.dragschedule p.drag_options select {
margin: 0px 0px 0px 0px;
padding: -3px 0px 0px 0px;
font: 1em arial, sans-serif;
font-weight: normal;
color: #000000;
height: 12px;
width: 37px;
}

.dragschedule td.holderclass{
background-color: #552277;
}

.dragschedule td.halfsize {
height: 28px;
}

.dragschedule td.place {
height: 56px;
width: 20px;
}

.dragschedule td.time {
height: 56px;
width: 20px;
background-color: #552277;
color: #ffffff;
}

/* Grid Class Schedule */

table.gridschedule {
width: 100%;
/*empty-cells: show;*/
border-collapse: collapse;
font: 0.5em arial, sans-serif;
color: #000000;
border-spacing: 0px;
border:0px;
cellpadding:0px;
cellspacing:0px;
}

.gridschedule td {
text-align: right;
border: 1px solid #bbbbbb;
}

.gridschedule td.normal {
height: 56px;
/*border: 0px solid #bbbbbb;*/
}

.gridschedule td.blank {
border: 0;
}

.gridschedule td.tableheader {
background-color: #552277;
color: #ffffff;
text-align: center;
width: 116px;
}

.gridschedule td.class {
background-color: #552277;
border: 0px solid #bbbbbb;
}

.gridschedule div.class {
background-color: #ffffff;
}

.gridschedule span.class {
background-color: #ffffff;
}

.gridschedule td.holderclass{
background-color: #552277;
border: 0px solid #bbbbbb;
}

.gridschedule td.halfsize {
height: 28px;
}

.gridschedule td.place {
height: 56px;
width: 0px;
}

.gridschedule td.time {
height: 56px;
width: 20px;
background-color: #552277;
color: #ffffff;
}

/* Mini Class Schedule */

table.smallschedule {
width: 100%;
table-layout: fixed;
/*empty-cells: show;*/
border-collapse: collapse;
font: 0.5em arial, sans-serif;
color: #000000;
border-spacing: 0px;
}

.smallschedule td {
text-align: right;
border: 1px solid #bbbbbb;
}

.smallschedule td.normal {
height: 14px;
}

.smallschedule td.blank {
border: 0;
}

.smallschedule td.tableheader {
background-color: #552277;
color: #ffffff;
text-align: center;
}

.smallschedule td.class {
background-color: #552277;
border: 0px solid #552277;
}

.smallschedule td.halfsize {
height: 7px;
}

.smallschedule td.place {
height: 14px;
width: 0px;
}

.smallschedule td.time {
height: 14px;
background-color: #552277;
color: #ffffff;
}

/* Indiv Class Schedule */

.classschedule {
margin: 50px 20px 0 0;
float: left;
width: 300px;
font-size:0.9em;
font-weight:none;
}

.classschedule table {
width: 100%;
table-layout: fixed;
empty-cells: show;
border-collapse: collapse;
font: 18px arial, sans-serif;
color: #000000;
border-spacing: 0px;
}

.classschedule td.normal {
height: 14px;
}

.classschedule td {
border: 1px solid #bbbbbb;
}

.classschedule td.blank {
border: 0;
width: 50px;
}

.classschedule td.tableheader {
background-color: #552277;
color: #ffffff;
text-align: center;
font-weight: bold;
}

.classschedule td.class {
background-color: #552277;
border: 0px solid #552277;
height: 30px;
}

.classschedule td.halfsize {
height: 9px;
}

.classschedule td.time {
text-align: right;
height: 30px;
background-color: #552277;
color: #ffffff;
}

td.class {
font: 0.7em arial, sans-serif;
font-weight: bold;
color: #ffffff;
text-align: center;
}

td.class a {
font: 0.7em arial, sans-serif;
font-weight: bold;
color: #ffffff;
}

td.class a:hover {
text-decoration: none;
}

#section0, #section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9 {
background-image: url('../images/transparent.png');
}

.classtime2 input {
border: 1px solid #552277;
background: #552277 url(../images/transparent.png);
font: 1em arial, sans-serif;
/*font-weight: bold;*/
color: #552277;
margin: 0 5px 2px 5px;
padding: 5px;
}

.lecture {
text-align: left;
}


/* Indiv Class Information */

.addtoschedule {
padding: 0;
margin: 25px 0 0 30px;
text-align: right;
float: left;
border: 1px solid #bbbbbb;
}

.alreadyinschedule {
padding: 0;
margin: 25px 0 0 30px;
text-align: right;
float: left;
border: 1px solid #bbbbbb;
background-color: #999999;
color: #cccccc;
font-weight:bold;
}

.addtoschedule a {
text-decoration:none;
font-weight:bold;
padding:10px 10px 10px 10px;
color:#552277;
}

.page_bar {
background-color: #552277;
float:right;
height: 25px;
}

.pagination {
	float:right;
	font-family:"Myriad", "Trebuchet MS", "Arial", "FreeSans";
	font-weight:bold;
	padding-top:0px;
	margin-top:0px;
}
.pagination .current {
	color:#cccc00;
	font-weight:bold;
	font-size:20px;
}
.pagination a {
	color:white;
	text-decoration:none;
	padding-left:5px;
}
.pagination a:hover{
	color:#C5B358;
	text-decoration:none;
	font-weight:bold;
	font-size:20px;
	padding-left:2px;
}
.pagination .next_page {
	padding-right:12px;
}
.pagination .next_page:hover {
	padding-right:1px;
}
.pagination .disabled-next_page{
	padding-right:8px;
}
.pagination .disabled.next_page:hover{
	padding-right:12px;
}
.pagination .prev_page {
	padding-left:30px;
}
.pagination .prev_page:hover {
	padding-left:8px;
}
.pagination .disabled.prev_page:hover {
	padding-left:30px;
}

#addtoschedule2 {
padding: 0;
margin: 0 0 0 0;
text-align: right;
float: right;
border: 1px solid #bbbbbb;
}

#addtoschedule2 img {
border: 0;
}

.classtime2 {
width: 100%;
float: left;
color: #000000;
font: 1em arial, sans-serif;
/*font-weight: bold;*/
/*text-align: right;*/
}

.classtime2 a {
text-decoration: underline;
}

.classtime2 a:hover {
text-decoration: none;
}

.classtime2 a:visited {
color:blue;
}

#grab_bag {
min-height: 600px;	
}

#grab_bag .course_drag {
border:1px solid black;
margin-bottom: 4px;
height: 40px;
}

#grab_bag .course_drag a {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
text-decoration: none;
}

#grab_bag .course_drag p {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font: 1em arial, sans-serif;
font-weight: normal;
color: #000000;
}

#titleabovetabbedwindow {
text-align: right;
font: 1.6em arial, sans-serif;
color: #000000;
font-weight: bold;
margin: 50px 0 0px 0;
}

#tabs {
margin: 20px 0 0 0;
float: left;
}

#tabs.scheduletabs {
margin: 0px 0 0 0;
width: 765px;
}

#tabs ul {
list-style: none;
display: block;
float: left;
margin: 0;
padding: 0;
}

#tab_list {
height: 30px;
overflow:hidden;
white-space: nowrap;
}

#tabs li {
font: 1em arial, sans-serif;
color: #ffffff;
font-weight: bold;
text-align: center;
height: 30px;
float: left;
/*border: 1px solid #ffffff;*/
border-left: 1px solid #ffffff;
border-right: 1px solid #ffffff;
margin: 0;
padding-right: 8px;
padding-left: 8px;
}

#tabs li a {
float:left;
display: block;
overflow:hidden;
line-height: 30px;
height: 30px;
text-decoration: none;
color: #ffffff;
}

#tabs.scheduletabs li {
font: 1em arial, sans-serif;
color: #ffffff;
font-weight: bold;
text-align: center;
height: 30px;
width: 150px;
float: left;
/*border: 1px solid #ffffff;*/
border-left: 1px solid #ffffff;
border-right: 1px solid #ffffff;
margin: 0;
padding: 0 0 0 0;
}

#tabs.scheduletabs li a {
float:left;
display: block;
overflow:hidden;
line-height: 30px;
width: 130px;
height: 30px;
text-decoration: none;
color: #ffffff;
}

#tabs li a.close{
float:left;
display:block;
width:7px;
height:11px;
overflow:hidden;
padding: 0px 0px 0px 0px;
margin: 3px 0px 0px 0px;
background-repeat:no-repeat;
background-image:url('/images/schedules/close.png');
}

#tabs li a.close:hover {
background-image:url('/images/schedules/close_highlighted.png');
background-repeat:no-repeat;
width:7px;
}

#tabs #load_close_image {
background-image:url('/images/schedules/close_highlighted.png');
}

#tabs.scheduletabs li a {
text-align: left;
white-space: nowrap;
padding-left:4px;
}

#tabs li:hover {
background: /*url('../images/tab.gif')*/ #c5b358;
}

#tabbedwindow {
border: 1px solid #bbbbbb;
float: left;
padding: 5px;
width: 590px;
margin: 0 0 0 0;
min-height: 600px;
font: 0.9em arial, sans-serif;
margin-left:1px;
/* height: 400px;
overflow-y: auto; */
}

#tabbar {
background: /*url('../images/tab.gif')*/ #c5b358;
height:30px;
width:608px;
float:left;
margin-left:1px;
}
/*
#tabbedwindow p {
color: #000000;
font: 1em arial, sans-serif;
margin: 10px 0 10px 0;
text-align: left;
}
*/
#tabs.scheduletabs .addtab {
width: 30px;
height: 30px;
text-align: center;
padding-left:0px;
background: /*url('../images/tab.gif')*/ #D3C6DC;
}

#tabs.scheduletabs .addtab:hover {
background: /*url('../images/tab.gif')*/ #c5b358;
}

.tabme {
background: /*url('../images/tab.gif')*/ #C5B358;
}

.normtab {
background: /*url('../images/tab.gif')*/ #552277;
}

#schedule_stats .credit_totals {
margin:0px 0px 0px 0px;
padding:0px 0px 0px 10px;	
}

#schedule_stats .credit_totals tr {
padding: 5px 0px 0px 0px;	
}

#schedule_stats span {
text-align: left;
width: auto;
font: inherit;
line-height: inherit;
font-weight: inherit;
text-decoration: inherit;
color: inherit;
}

#overview .teacher_info_header {
font-weight:bold;
}

#overview .teacher_info_header span.sub_header {
font-weight:normal;
color:inherit;
}

#overview .teacher_info {
margin-left: 10px;
}

#user_supp_info #curr_user_supp_info {
margin-left: 10px;
}

#user_supp_info #curr_user_supp_info .attr_name {
color:gray;
min-width:160px;
}

#user_supp_info #curr_user_supp_info .attr_name span{
text-align: left;
width: auto;
font: inherit;
line-height: inherit;
font-weight: inherit;
text-decoration: inherit;
color: inherit;
max-width:300px;
overflow:hidden;
float:left;
white-space:nowrap;
}

#user_supp_info #curr_user_supp_info .attr input{
width:200px;
}

#user_supp_info #curr_user_supp_info .attr span{
text-align: left;
width: auto;
font: inherit;
line-height: inherit;
font-weight: inherit;
text-decoration: inherit;
color: inherit;
}

#user_supp_info #user_supp_info_controls .prev_next_btn {
text-decoration: none;
padding-left:3px;
padding-right:3px;
color: white;
font-weight: bold;
background-color: #552277;
}

#user_supp_info #user_supp_info_controls .prev_next_btn:hover {
background-color: #c5b358;
}

#user_supp_info .control_btn {
text-decoration: none;
padding-left:3px;
padding-right:3px;
color: #552277;
font-weight: bold;
border: 1px solid #BBBBBB;
background-color:white;
}

.button-to {
display: inline;	
}

.button-to div {
display: inline;	
}

.button-to input {
display: inline;	
}

.hidden {
/*display: none;*/
}
/* IND MAP PAGE */

#building_courses {
float: left;
font: 1em arial, sans-serif;
}

#building_courses a {
color: #000000;
text-decoration: none;
}

#building_courses a:hover {
text-decoration: underline;
}

#building_courses table {
margin-left: 50px;
width: 700px;
border-spacing: 5px;
}

#building_courses th {
border: 1px solid #000000;
width: 100px;
}

#building_courses td {
padding: 20px 20px 20px 20px;
}

#side {
font-family: arial, sans-serif;
}

#overview a.info {
position:relative; /*this is the key*/
z-index:24;
color:blue;
text-decoration:none;
}
#overview a.info:hover {
z-index:25;
cursor:pointer;
}
 
#overview a.info span{
display: none
}
 
#overview a.info:hover span { /*the span will display just on :hover state*/
display:block;
position:absolute;
top:2em;
left:2em;
width:34em;
border:1px solid #0cf;
background-color:#cff;
color:#000;
text-align:left;
}