@charset "utf-8";
/* CSS Document */

body {
	/* background:url(../images/bg.gif) top repeat-x #FFFFFF; */
	margin: 0px;
	font-family:"Myriad", "Trebuchet MS", Arial;
	font-size:12px;
	color: #6B6B6B;
}
p, form, ul, li, div, h1 {
	padding:0px;
	margin:0px;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#wrapper {
	width:980px;
	margin:0 auto;
}
#wrapper .clear {
	clear:both;
}
#wrapper .height_13 {
	height:13px;
}
#wrapper-header {
	width:925px;
	margin:0 auto;
}


/* MENU BAR CSS AREA */
#apDiv2 {
	background-image:url(/images/topbar.jpg);
	width: 942px;
	height: 54px;		
}
#search {
	padding-top: 18px;
	padding-left: 70px;	
}
#search_go {
    /*padding-top: 10px;*/
	padding-left: 10px;	
}
#artssciences:hover {
	background-image:url(/images/Cat_over_artscience.jpg);
}
#artssciences {
	height:12px;
	width:81px;
	background-image:url(/images/Cat_artscience.jpg);
}
#artssciences_sel {
	height:12px;
	width:81px;
	background-image:url(/images/Cat_over_artscience.jpg);
}
#engineering:hover {
	background-image:url(/images/Cat_over_engineering.jpg);
}
#engineering {
	height:12px;
	width:57px;
	background-image:url(/images/Cat_engineering.jpg);
}
#engineering_sel {
	height:12px;
	width:57px;
	background-image:url(/images/Cat_over_engineering.jpg);
}
#business:hover {
	background-image:url(/images/Cat_over_business.jpg);
}
#business {
	height:12px;
	width:41px;
	background-image:url(/images/Cat_business.jpg);
}
#business_sel {
	height:12px;
	width:41px;
	background-image:url(/images/Cat_over_business.jpg);
}
#law:hover {
	background-image:url(/images/Cat_over_law.jpg);
}
#law {
	height:12px;
	width:13px;
	background-image:url(/images/Cat_law.jpg);
}
#law_sel {
	height:12px;
	width:13px;
	background-image:url(/images/Cat_over_law.jpg);
}
#dentist:hover {
	background-image:url(/images/Cat_over_dentist.jpg);
}
#dentist {
	height:12px;
	width:53px;
	background-image:url(/images/Cat_dentist.jpg);
}
#dentist_sel {
	height:12px;
	width:53px;
	background-image:url(/images/Cat_over_dentist.jpg);
}
#medicine:hover {
	background-image:url(/images/Cat_over_medicine.jpg);
}
#medicine {
	height:12px;
	width:40px;
	background-image:url(/images/Cat_medicine.jpg);
}
#medicine_sel {
	height:12px;
	width:40px;
	background-image:url(/images/Cat_over_medicine.jpg);
}
#arch:hover {
	background-image:url(/images/Cat_over_arch.jpg);
}
#arch {
	height:12px;
	width:62px;
	background-image:url(/images/Cat_arch.jpg);
}
#arch_sel {
	height:12px;
	width:62px;
	background-image:url(/images/Cat_over_arch.jpg);
}
#edu:hover {
	background-image:url(/images/Cat_over_edu.jpg);
}
#edu {
	height:12px;
	width:44px;
	background-image:url(/images/Cat_edu.jpg);
}
#edu_sel {
	height:12px;
	width:44px;
	background-image:url(/images/Cat_over_edu.jpg);
}
#forest:hover {
	background-image:url(/images/Cat_over_forest.jpg);
}
#forest {
	height:12px;
	width:83px;
	background-image:url(/images/Cat_forest.jpg);
}
#forest_sel {
	height:12px;
	width:83px;
	background-image:url(/images/Cat_over_forest.jpg);
}
#info:hover {
	background-image:url(/images/Cat_over_info.jpg);
}
#info {
	height:12px;
	width:94px;
	background-image:url(/images/Cat_info.jpg);
}
#info_sel {
	height:12px;
	width:94px;
	background-image:url(/images/Cat_over_info.jpg);
}
#nurse:hover {
	background-image:url(/images/Cat_over_nurse.jpg);
}
#nurse {
	height:12px;
	width:34px;
	background-image:url(/images/Cat_nurse.jpg);
}
#nurse_sel {
	height:12px;
	width:34px;
	background-image:url(/images/Cat_over_nurse.jpg);
}
#fish:hover {
	background-image:url(/images/Cat_over_fish.jpg);
}
#fish {
	height:12px;
	width:83px;
	background-image:url(/images/Cat_fish.jpg);
}
#fish_sel {
	height:12px;
	width:83px;
	background-image:url(/images/Cat_over_fish.jpg);
}
#other:hover {
	background-image:url(/images/Cat_over_other.jpg);
}
#other {
	height:12px;
	width:23px;
	background-image:url(/images/Cat_other.jpg);
}
#other_sel {
	height:12px;
	width:23px;
	background-image:url(/images/Cat_over_other.jpg);
}

/* Maps Area */
#side {
	position:absolute;
	width:160px;;
	height:80px;
	left:37px;
	z-index:5;
	left: 3px;
	top: 95px;
}
#mainSection {
	width:790px;
	height:1000px;
	position:absolute;
	left:170px;;
	top:115px;
}
#footer {
	cursor:pointer;
	top:1100px;
	position:absolute;
	left:300px;
}
#map {
	width:780px;
	height:600px;
}
#crumbs {
	top:95px;
	left: 170px;
	position:absolute;
	width: 791px;
}
#coordinates {
	position:absolute;
	width:600px;
	text-align:left;
	top:95px;
	left:350px;
}
#sideTable {
	width:160px;
	position:absolute;
	cursor:default;
}
#searchWithin {
	top:90px;
	left:760px;
	position:absolute;
}
*.building_marker_opener {	
	cursor:pointer;
}
#searchGoButton {
	cursor:pointer;
}
*.customLink {
	text-decoration:none;
	color:black;
}

/* MENU BAR Spry Stuff */
/* The outermost container of the Menu Bar, an auto width box with no margin or padding */
ul.MenuBarHorizontal
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: auto;
}
/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */
ul.MenuBarActive
{
	z-index: 1000;
}
/* Menu item containers, position children relative to this container and are a fixed width */
ul.MenuBarHorizontal li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: auto;
	float: left;
	height: auto;
}
/* Submenus should appear below their parent (top: 0) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
ul.MenuBarHorizontal ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	z-index: 1020;
	cursor: default;
	width: 8.2em;
	position: absolute;
	left: -1000em;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to auto so it comes onto the screen below its parent menu item */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible
{
	left: auto;
}
/* Menu item containers are same fixed width as parent */
ul.MenuBarHorizontal ul li
{
	width: 8.2em;
}
/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) */
ul.MenuBarHorizontal ul ul
{
	position: absolute;
	margin: -5% 0 0 95%;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
	left: auto;
	top: 0;
}

/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/

/* Submenu containers have borders on all sides */
ul.MenuBarHorizontal ul
{
	border: 1px solid #CCC;
}
/* Menu items are a light gray block with padding and no text decoration */
ul.MenuBarHorizontal a
{
	display: block;
	cursor: pointer;
	background-color: #EEE;
	padding: 0.5em 0.75em;
	color: #333;
	text-decoration: none;
}
/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus
{
	background-color: #412164;
	color: #FFF;
}
/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul.MenuBarHorizontal a.MenuBarItemHover, ul.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul.MenuBarHorizontal a.MenuBarSubmenuVisible
{
	background-color: #412164;
	color: #FFF;
}
/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenu
{
	background-image: url(/images/SpryMenuBarDown.gif);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenu
{
	background-image: url(/images/SpryMenuBarRight.gif);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover
{
	background-image: url(/images/SpryMenuBarDownHover.gif);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover
{
	background-image: url(/images/SpryMenuBarRightHover.gif);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

/*******************************************************************************

 BROWSER HACKS: the hacks below should not be changed unless you are an expert

 *******************************************************************************/

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarHorizontal iframe
{
	position: absolute;
	z-index: 1010;
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
		display: inline;
		f\loat: left;
		background: #FFF;
	}
}

/* Tabbed Panels Section */

/* This is the selector for the main TabbedPanels container. For our
 * default style, this container does not contribute anything visually,
 * but it is floated left to make sure that any floating or clearing done
 * with any of its child elements are contained completely within the
 * TabbedPanels container, to minimize any impact or undesireable
 * interaction with other floated elements on the page that may be used
 * for layout.
 *
 * If you want to constrain the width of the TabbedPanels widget, set a
 * width on the TabbedPanels container. By default, the TabbedPanels widget
 * expands horizontally to fill up available space.
 *
 * The name of the class ("TabbedPanels") used in this selector is not
 * necessary to make the widget function. You can use any class name you
 * want to style the TabbedPanels container.
 */
.TabbedPanels {
	margin: 0px;
	padding: 0px;
	float: left;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}

/* This is the selector for the TabGroup. The TabGroup container houses
 * all of the tab buttons for each tabbed panel in the widget. This container
 * does not contribute anything visually to the look of the widget for our
 * default style.
 *
 * The name of the class ("TabbedPanelsTabGroup") used in this selector is not
 * necessary to make the widget function. You can use any class name you
 * want to style the TabGroup container.
 */
.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}

/* This is the selector for the TabbedPanelsTab. This container houses
 * the title for the panel. This is also the tab "button" that the user clicks
 * on to activate the corresponding content panel so that it appears on top
 * of the other tabbed panels contained in the widget.
 *
 * For our default style, each tab is positioned relatively 1 pixel down from
 * where it wold normally render. This allows each tab to overlap the content
 * panel that renders below it. Each tab is rendered with a 1 pixel bottom
 * border that has a color that matches the top border of the current content
 * panel. This gives the appearance that the tab is being drawn behind the
 * content panel.
 *
 * The name of the class ("TabbedPanelsTab") used in this selector is not
 * necessary to make the widget function. You can use any class name you want
 * to style this tab container.
 */
.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 0px 0px 0px;
	font: bold 0.7em sans-serif;
	background-color: #9900CC;
	list-style: none;
	border-left: solid 0px #CCC;
	border-bottom: solid 0px #999;
	border-top: solid 0px #999;
	border-right: solid 0px #999;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}

/* This selector is an example of how to change the appearnce of a tab button
 * container as the mouse enters it. The class "TabbedPanelsTabHover" is
 * programatically added and removed from the tab element as the mouse enters
 * and exits the container.
 */
.TabbedPanelsTabHover {
	background-color: #CCC;
}

/* This selector is an example of how to change the appearance of a tab button
 * container after the user has clicked on it to activate a content panel.
 * The class "TabbedPanelsTabSelected" is programatically added and removed
 * from the tab element as the user clicks on the tab button containers in
 * the widget.
 *
 * As mentioned above, for our default style, tab buttons are positioned
 * 1 pixel down from where it would normally render. When the tab button is
 * selected, we change its bottom border to match the background color of the
 * content panel so that it looks like the tab is part of the content panel.
 */
.TabbedPanelsTabSelected {
	background-color: #412164;
	border-bottom: 0px solid #EEE;
}

/* This selector is an example of how to make a link inside of a tab button
 * look like normal text. Users may want to use links inside of a tab button
 * so that when it gets focus, the text *inside* the tab button gets a focus
 * ring around it, instead of the focus ring around the entire tab.
 */
.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}

/* This is the selector for the ContentGroup. The ContentGroup container houses
 * all of the content panels for each tabbed panel in the widget. For our
 * default style, this container provides the background color and borders that
 * surround the content.
 *
 * The name of the class ("TabbedPanelsContentGroup") used in this selector is
 * not necessary to make the widget function. You can use any class name you
 * want to style the ContentGroup container.
 */
.TabbedPanelsContentGroup {
	clear: both;
	border-left: solid 0px #CCC;
	border-bottom: solid 1px #CCC;
	border-top: solid 5px #412164;
	border-right: solid 0px #999;
	background-color: #EEE;
}

/* This is the selector for the Content panel. The Content panel holds the
 * content for a single tabbed panel. For our default style, this container
 * provides some padding, so that the content is not pushed up against the
 * widget borders.
 *
 * The name of the class ("TabbedPanelsContent") used in this selector is
 * not necessary to make the widget function. You can use any class name you
 * want to style the Content container.
 */
.TabbedPanelsContent {
	padding: 4px;
	border-top: solid 5px #9e8eb0;
}

/* This selector is an example of how to change the appearnce of the currently
 * active container panel. The class "TabbedPanelsContentVisible" is
 * programatically added and removed from the content element as the panel
 * is activated/deactivated.
 */
.TabbedPanelsContentVisible {
}

/* Vertical Tabbed Panels
 *
 * The following rules override some of the default rules above so that the
 * TabbedPanels widget renders with its tab buttons along the left side of
 * the currently active content panel.
 *
 * With the rules defined below, the only change that will have to be made
 * to switch a horizontal tabbed panels widget to a vertical tabbed panels
 * widget, is to use the "VTabbedPanels" class on the top-level widget
 * container element, instead of "TabbedPanels".
 */

/* This selector floats the TabGroup so that the tab buttons it contains
 * render to the left of the active content panel. A border is drawn around
 * the group container to make it look like a list container.
 */
.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #EEE;
	position: relative;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}

/* This selector disables the float property that is placed on each tab button
 * by the default TabbedPanelsTab selector rule above. It also draws a bottom
 * border for the tab. The tab button will get its left and right border from
 * the TabGroup, and its top border from the TabGroup or tab button above it.
 */
.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}

/* This selector disables the float property that is placed on each tab button
 * by the default TabbedPanelsTab selector rule above. It also draws a bottom
 * border for the tab. The tab button will get its left and right border from
 * the TabGroup, and its top border from the TabGroup or tab button above it.
 */
.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999;
}

/* This selector floats the content panels for the widget so that they
 * render to the right of the tabbed buttons.
 */
.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	padding: 0px;
	width: 30em;
	height: 20em;
}

