<div>
    <%= form_tag({:controller=>'teachers', :action => 'all_photos'}, :multipart => true) %>
        <p><label for="upload_file">Upload Photo</label> : 
        <%= file_field 'upload', 'datafile', :id=>"upload_input" %></p>
        <%= submit_tag "Upload" %>
    </form>
</div>
