<div id="footer">
<a href="">Advertise</a> :: <a href="mailto:admin@infymedia.com?subject=HuskySchedule">Contact Us</a> :: <a href="privpol.html">Privacy Policy</a> :: &#169; 2009 <a href="http://www.infymedia.com">Infymedia.com</a>. All Rights Reserved.
</div>
<div class="poweredby"><a href="http://www.infymedia.com"><img src="<%= url_for(:controller=>"/", :only_path=>false) %>/images/poweredby.gif"></a></div>
</div>