<div><%= bread_crumbs(@course, true) %> > Student Reviews</div>
<table>
    <tr>
        <td>
            <%= mini_schedule(@course.times, {:by_hour=>false}) %>
        </td>
        <td valign="top">
            <div>Student Reviews for <%= link_to "#{@course.deptabriev} #{@course.number}: #{@course.title}", :controller=>"courses", :action=>"index", :id=>@course.id %><br/>
                    Reviews are not necessarily based on the specific course above, but rather the same course offered possibly a different year and or quarter.
            </div>
            <div>
                <%= render :partial => "course_reviews/summary", :locals => { :course => @course, :links=>true }%>
            </div>
        </td>
    </tr>
